@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
    font-family: 'Rubik', sans-serif;
}

header .nav-item {
    margin-left: 7rem;
}

header .fa-fort-awesome {
    margin-left: 30px;
    margin-right: 10px;
    color: #ffc900;
}

header .navbar-brand {
    color: #e86836 !important;
}

header .nav-item:hover {
    color: #e86836 !important;
}

#banner {
    background-color: #00d7ff;
}

#banner h1 {
    font-size: 54px;
    padding-top: 200px;
}

#banner p {
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 500px;
}

/* All PAGES */

#about h1 {
    color: #00d7ff;
    margin-top: 2rem;
    font-size: 5rem;
}

#data {
    padding-bottom: 5rem;
}

.submit-button {
    background-color: #00ff73 !important;
}

.reset-button {
    background-color: lightgray !important;
}