@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Nunito', sans-serif;
    color: #37383c;
}

header .nav-item {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    margin-left: 70px;
    margin-top: 10px;
}

header .nav-item-log-in {
    margin-left: 125px;    
    margin-right: 15px;    
    margin-top: 10px;
}

header .nav-item-get-started {
    color: #f27e20 !important;  
    border: 2px solid #f27e20;
    margin-top: 10px;
}

/* header .fa-fort-awesome {
    margin-left: 30px;
    margin-right: 10px;
    color: #ffc900;
} */

header .navbar-brand {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #37383c !important;
    margin-left: 50px;
    margin-right: 100px;
}

header .nav-item:hover {
    color: #e86836 !important;
}

/* #banner {
    background-color: #00d7ff;
} */

#banner h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 54px;
    /* padding-top: 200px; */
    padding-top: 8rem;
    color: #37383c;
}

#banner p {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-top: 30px;
    color: #37383c;
}

/* Animations from Animista */
#banner .banner-left .index-square {
    background-color: rgba(54, 211, 232, 0.2);
    margin-top: 60px;
    margin-left: -30px;
    /* height: calc(100vh - 520px); */
    height: 600px;
    width: 600px;

}

/* Icons from Flaticon */
#banner .banner-left #index-doughnut {
    width: 250px;
    display: block;
    margin-left: -50px;
    margin-top: -580px;
}

#banner .banner-left #index-debt {
    /* width: 40%; */
    width: 225px;
    display: block;
    margin-left: 145px;
    margin-right: auto;
    margin-top: 140px;
}

#banner .banner-left #index-investing {
    /* width: 40%; */
    width: 200px;
    display: block;
    margin-left: 375px;
    margin-top: -450px;
}

#banner .banner-right {
    margin-top: -30px;
}

/* All PAGES */

#about {
    font-family: 'Nunito', sans-serif;
}

#about h1 {
    margin-top: 2rem;
    font-size: 5rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

#about p {
    font-weight: 300;
    font-size: 18px;
}

#data {
    padding-bottom: 5rem;
}

.submit-button {
    /* background-color: #00ff73 !important; */
    background-color: #69c9ac !important;
}

.cancel-button {
    background-color: lightgray !important;
}

.reset-button {
    background-color: lightgray !important;
}

/* INDEX.HTML */

.slide-in-right {
	-webkit-animation: slide-in-right 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: slide-in-right 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

@-webkit-keyframes slide-in-right {
       0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
}
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
}

.fade-in {
	-webkit-animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
	    animation: fade-in 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
}

@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

  .shake-vertical-doughnut {
	-webkit-animation: shake-vertical 12s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-vertical 12s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

.shake-vertical-debt {
	-webkit-animation: shake-vertical 12s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s infinite both;
	        animation: shake-vertical 12s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s infinite both;
}

.shake-vertical-investing {
	-webkit-animation: shake-vertical 12s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1s infinite both;
	        animation: shake-vertical 12s cubic-bezier(0.455, 0.030, 0.515, 0.955) 1s infinite both;
}

@-webkit-keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
    80% {
      -webkit-transform: translateY(6.4px);
              transform: translateY(6.4px);
    }
    90% {
      -webkit-transform: translateY(-6.4px);
              transform: translateY(-6.4px);
    }
  }
@keyframes shake-vertical {
    0%,
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateY(8px);
              transform: translateY(8px);
    }
    80% {
      -webkit-transform: translateY(6.4px);
              transform: translateY(6.4px);
    }
    90% {
      -webkit-transform: translateY(-6.4px);
              transform: translateY(-6.4px);
    }
}

.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 5s both;
	        animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) 5s both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 5s both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 5s both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/* RESOURCES PAGE */

#resources-links {
  margin-top: 5rem;
}
